.body {
  background-color: #eee;
  font-family: "Joan", serif;
}
.header {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 75px;
}
.logo__set {
  width: 50%;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 200px;
}
.header__nav-set {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.main__name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main__name-set {
  font-size: 24px;
  margin-bottom: 20px;
}
.email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
.btn {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-weight: 900;
}
.btn:hover {
  background-color: orange;
  transition: background-color 1s;
}
.infobar {
  display: flex;
  justify-content: center;
}
.logo__infobar {
  width: 100px;
  max-height: 100px;
}
.infobar__main {
  font-size: 28px;
  margin-top: 35px;
}
.infobar__text {
  display: flex;
  flex-direction: column;
  max-width: 813px;
}
.infobar__text-set {
  font-size: 18px;
}
.video__bar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.video__bar > iframe {
  max-width: 560px;
  width: 100%;
}
.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.pricebox {
  display: flex;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  height: 291px;
}
.box__name {
  width: 100%;
}
.box__name-set {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.pricing__price {
  font-weight: 900;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.text {
  margin-bottom: 15px;
  font-size: 18px;
}
.btn__price {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn__price-set {
  max-width: 110px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
}

.footer {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}
.safe {
    display: flex;  
    justify-content: flex-end;
    gap: 25px;
}
.safe a{
    text-decoration: none;
    color: #000;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    margin-top: 5px;
}